version: "3.9"

services:

  mongo:
    image: mongo
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db


  backend:
    build: ./backend
    container_name: crm_backend
    ports:
      - "8888:8888"
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env


  frontend:
    build: ./frontend
    container_name: crm_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # optional in dev:
      # - ./frontend/dist:/usr/share/nginx/html:ro
      
volumes:
  mongo_data:
